<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Quiz</title>
</head>
<body>
    <div class="container">
        <h1>Quiz</h1>
        <p>Highest Score: {{ highest_score }}</p>
        <form action="{{ url_for('submit_quiz') }}" method="POST">
            {% for question in questions %}
                <div class="question">
                    <h3>{{ question.question_text }}</h3>
                    {% for option in question.options %}
                        <label>
                            <input type="radio" name="question_{{ question.id }}" value="{{ option.id }}">
                            {{ option.option_text }}
                        </label>
                    {% endfor %}
                </div>
            {% endfor %}
            <button type="submit">Submit</button>
        </form>
        <footer>
            <p><a href="https://github.com/yilmaz13">GitHub</a></p>
        </footer>
    </div>
</body>
</html>